# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
**/dist/
build/
**/build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Docker volumes
mongo-data/
redis-data/
kafka-data/
zookeeper-data/

# Coverage
coverage/
**/coverage/